@import 'src/assets/variables';

:host {
  height: 100%;
  display: flex;
  justify-content: center;

  > .container {
    width: 600px;

    > .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      > button {
        height: 30px;
      }
    }

    > .button {
      margin-bottom: $d-space;
    }
  }
}
