<div class="container">
  <div class="btn size-btn">
    <h3>Todos os todos</h3>
    <button class="primary" [routerLink]="['../']">Voltar</button>
  </div>

  <ng-container *ngIf="(loading$ | async) === false">
    <todo-list-item *ngFor="let item of (list$ | async)" [item]="item" (markAsDone)="markAsDone($event)"
      (remove)="onDelete($event)">
    </todo-list-item>

    <div class="btn">
      <button *ngIf="(shouldShowLoadingIndicator$ | async) === false" class="primary" (click)="loadMore()">
        Carregar mais
      </button>
      <button class="primary" [routerLink]="['../']">Voltar</button>
    </div>

  </ng-container>

  <span *ngIf="(shouldShowLoadingIndicator$ | async) === true">Carregando</span>
</div>